<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.qiwei.microservice.cse.helloworld.domain.mapper.UserMapper">
    <select id="findByName" resultType="org.qiwei.microservice.cse.helloworld.domain.entity.User">
        SELECT * FROM user WHERE ID = #{id}
    </select>

    <insert id="insert">
        INSERT INTO USER(NAME, AGE) VALUES(#{name}, #{age})
    </insert>
</mapper>